<div *ngIf="viewMode; else editable">
  <div *ngIf="currentProducto.codigo">
    
    <h4>Producto</h4>
    <div>
      <label><strong>Codigo:</strong></label> {{ currentProducto.codigo }}
    </div>
    <div>
      <label><strong>Nombre:</strong></label>
      {{ currentProducto.nombre }}
    </div>
    <div>
      <label><strong>imagen Anverso:</strong></label>
      <img [src]="previewAnverso">
    </div>
    <div>
      <label><strong>imagen Reverso:</strong></label>
      <img [src]="previewReverso">
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentProducto.published ? "Published" : "Pending" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/productos/{{ currentProducto.codigo }}">
      Edit
    </a>
  </div>

  <div *ngIf="!currentProducto">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentProducto.codigo" class="edit-form">
    <h4>Edicion de Producto</h4>
    <form>
      <div class="form-group">
        <img [src]="previewAnverso" *ngIf="previewReverso">
        <label for="file">Choose FileAnverso</label>
        <input type="file"
               id="file"
               (change)="handleFileInputA($event)">
      </div>
      <div class="form-group">
        <div><img [src]="previewReverso" *ngIf="previewReverso"></div>
        <label for="file">Choose FileReverso</label>
        <input type="file"
               id="file"
               (change)="handleFileInputB($event)">
      </div>
      <div class="form-group">
        <label for="codigo">Codigo</label>
        <input
          type="text"
          class="form-control"
          id="codigo"
          [(ngModel)]="currentProducto.codigo"
          name="codigo"
        />
      </div>
      <div class="form-group">
        <label for="nombre">nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          value="{{ currentProducto.nombre }}"
        />
        
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentProducto.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentProducto.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentProducto.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProducto.codigo">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>
